/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Cambia el color de fondo según tus preferencias */
}

.contacto {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contacto h3 {
    font-size: 24px;
    text-align: center;
}

/* Estilos para etiquetas de formulario */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilos para campos de formulario */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #007BFF; /* Cambia el color del botón según tus preferencias */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
